#micrositeContainer {
  border: 1px solid $microsite-border-color;
}

.componentHeader {
  color: $microsite-content-header-color;
  margin: 0 0 8px !important;
}

.micrositeModuleContainer {
  margin: 0;

  .micrositeModuleHeader {
    margin: 0;

    h3 { margin: 0; }

  }

}

/* copy these along with content tabs since they're used in the panel views */
.mediaBlock, .mediaBlockContent {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.mediaBlock img {
  float: left;
  margin-right: 10px;
  display: block;
}

.oneColList {
  clear: both;

  > ul {
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    overflow: hidden;

    li {
      border-top: 1px solid #ddd;
      margin: 15px 5px 5px;
      padding: 15px 15px 0;
    }

    > li:first-child {
      border: none;
      margin-top: 0;
    }

    h4 {
      font-size: 16px;
      margin: 0 0 5px !important;
    }

    p {
      margin: 0 0 5px !important;
    }

  }

}

.twoColGrid {
  clear: both;

  > ul {
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    overflow: hidden;

    > li {
      clear: left;
      border-top: 1px solid #ddd;
      overflow: hidden;

      &:first-child {
        border: none;
        margin-top: 0;
      }

    }

  }

  .gridItem {
    width: 46%;
    float: left;
    margin: 15px 10px;

    &:first-child {
      border-right: 1px solid #ddd;
      padding-right: 10px;
    }

    p {
      margin: 10px 0 0 !important;
      line-height: 1.1 !important;
    }

    .mediaBlockImage {
      width: 80px;
      height: 100px;
    }

  }

}

.railContent {
  border-top: 4px solid #ddd;
  padding: 10px 0 0;
  h3 {
    font-size: 16px;
  }
  blockquote {
    border: 1px solid #274b6b;
    border-left: none;
    border-right: none;
    margin: 15px 0 !important;
    padding: 10px 20px 20px !important;
    width: 100% !important;
    &.image {
      padding: 0 !important;
      img {
        border: none;
      }
    }
  }
}