.heroCarousel
  .heroCarouselWindow
    ul
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselLeftColImage0.png', height='177', width='618', alt='')
        .heroCarouselContent
          .heroCarouselContentInner
            .heroCarouselHeader Learn the Best Practices for Enhancing BYOD in the Cloud
            .heroCarouselText A white paper is an authoratative report of guide helping readers to understand an issue, solve a problem, or make a decision.
            .heroCarouselButton: a(href='replaceMe') Download Now
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselLeftColImage1.png', height='177', width='618', alt='')
        .heroCarouselContent
          .heroCarouselContentInner
            .heroCarouselHeader Top 10 BYOD Best Practices
            .heroCarouselText A white paper is an authoratative report of guide helping readers to understand an issue, solve a problem, or make a decision.
            .heroCarouselButton: a(href='replaceMe') Download Now
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselLeftColImage2.png', height='177', width='618', alt='')
        .heroCarouselContent
          .heroCarouselContentInner
            .heroCarouselHeader Security Think Tank: BYOD – key tenets and best practices
            .heroCarouselText A white paper is an authoratative report of guide helping readers to understand an issue, solve a problem, or make a decision.
            .heroCarouselButton: a(href='replaceMe') Download Now
