.heroCarousel
  .heroCarouselWindow
    ul
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselImage0.jpg', height='298', width='946')
        .heroCarouselContent
          .heroCarouselContentInner
            .heroCarouselHeader "Sucessful financial services companies distinguish themselves through exceptional custom interactions." (~100 chars)
            .heroCarouselText Read more of the "Capitalize on Customer Experience Management Solutions" whitepaper. (~80 chars)
            .heroCarouselButton: a(href='replaceMe') Download Now
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselImage1.jpg', height='298', width='946')
        .heroCarouselContent.flip
          .heroCarouselContentInner
            .heroCarouselHeader This is a long header: Fusce vel nisi a augue tempor rutrum. Nulla facilisi. (~160 chars)
            .heroCarouselText This is a short sentence (~35 chars)
            .heroCarouselButton: a(href='replaceMe') View Now
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselImage2.jpg', height='298', width='946')
        .heroCarouselContent
          .heroCarouselContentInner
            .heroCarouselHeader This is a short header (~35 chars)
            .heroCarouselText This is a long sentence: Cras nec ipsum nulla. Pellentesque sollicitudin justo vitae lectus condimentum id lacinia nisl blandit. Nunc lorem purus, tempus vitae faucibus sed, mattis et enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus lacinia urna nec turpis egestas mattis. Vestibulum suscipit porta metus quis porta. Nam sem velit, sagittis at porttitor ac, luctus sed ipsum. (~450 chars)
            .heroCarouselButton: a(href='replaceMe') View Now
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(src='images/heroCarouselImage3.jpg', height='298', width='946')
        .heroCarouselContent.flip
          .heroCarouselContentInner
            .heroCarouselHeader This is a short header (~35 chars)
            .heroCarouselText This is a short sentence (~35 chars)
            .heroCarouselButton: a(href='replaceMe') View Now
