// microsite customization
$microsite-width: 100%;
$microsite-content-gutter-width: 20px;
$microsite-col-left-width: 620px;
$microsite-col-right-width: 300px;
$microsite-border-color: #c8c8c8;
$microsite-header-backgroundColor: #274b6b;
$microsite-header-color: #fff;
$microsite-content-header-color: #274b6b;

// content tabs component
$ct-border-color: #ccc;
$ct-height: 450px;
$ct-tab-size: 11px;
$ct-tab-height: 35px;
$ct-tab-color: #000;
$ct-tab-bgColor: #fafafa;
$ct-tab-border-color: #fff;
$ct-tab-active-color: #fff;
$ct-tab-active-bgColor: #19527f;
$ct-tab-hover-color: #fff;
$ct-tab-hover-bgColor: #8cb1d2;
$ct-navigation-vertical-bgColor: #fafafa;
$ct-navigation-vertical-width: 180px;
$ct-navigation-vertical-padding: 10px;
$ct-navigation-vertical-arrow-color: $ct-tab-active-bgColor;
$ct-navigation-vertical-arrow-width-x: 12px;
$ct-navigation-vertical-arrow-width-y: 18px;
$ct-panel-vertical-width: 936px - $ct-navigation-vertical-width;
$ct-navigation-horizontal-bgColor: #fff;
$ct-navigation-horizontal-height: $ct-tab-height;
$ct-navigation-horizontal-align: center;
$ct-navigation-horizontal-tab-width: 25%;
$ct-navigation-horizontal-arrow-type: "innie"; // innie, outie
$ct-navigation-horizontal-arrow-color: #fff;
$ct-navigation-horizontal-arrow-align: 46%;
$ct-navigation-horizontal-arrow-width-x: 8px;
$ct-navigation-horizontal-arrow-width-y: 8px;
$ct-pinned-panel-left-total-width: 935px;
$ct-pinned-panel-left-intro-width: 245px;
$ct-pinned-panel-left-bgColor: #fff;
$ct-pinned-panel-left-border-color: transparent;
$ct-pinned-panel-top-height: 100px;
$ct-pinned-panel-top-bgColor: #ececec;
$ct-pinned-panel-top-border-color: $ct-tab-active-bgColor;

// hero carousel component
$hc-show-text-over-image: true;
$hc-transition-speed: .5s;
$hc-hero-image-border: #bbb;
$hc-hero-image-width: 936px;
$hc-hero-image-height: 298px;
$hc-button-color: #1c3e60;