extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        include header
        #micrositeContent
          #micrositeContentColumnFull
            include wayfinderPhoto
            h2.componentHeader Additional Resources
            include contentTabs
          #micrositeContentColumnLeft
          #micrositeContentColumnRight
        include footer