.wayfinder.wayfinderImage
  .wayfinderCornerstoneImage
    img(src="images/wayfinderImage.jpg", width="600", height="258", alt="")
  .wayfinderContent
    h2 Reinvent your disaster backup plan and harness the power of the cloud.
    p Today’s organizations strive to unlock the potential of cloud computing to fuel business growth. By offering a wide range of services covering all domains and cloud delivery models, IBM cloud services can help you design and build the cloud solution that optimizes your return on investment in this revolutionary technology.
