/* footer */
#micrositeFooter {
  clear: both;
  background-color: $microsite-header-backgroundColor;
  color: $microsite-header-color;

  h3 {
    font-size: 30px;
    line-height: 40px;
    padding: 40px;
    margin: 0;
  }

}