extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        include header
        #micrositeContent
          #micrositeContentColumnFull
            include wayfinder
          #micrositeContentColumnLeft
            include featuredVideoSplash
            include discoverSplash
          #micrositeContentColumnRight
            include contentTabs
        include footer