.featuredVideo
  .featuredVideoPlayer
    object#featuredVideoPlayer1.BrightcoveExperience
      param(name='bgcolor', value='#000000')
      param(name='wmode', value='opaque')
      param(name='width', value='640')
      param(name='height', value='360')
      param(name='playerID', value='2117382598001')
      param(name='playerKey', value='AQ~~,AAAAAFGE4wo~,g57wOIK2TXKMBHTPnffWcp0t79yQC9T_')
      param(name='isVid', value='true')
      param(name='isUI', value='true')
      param(name='dynamicStreaming', value='true')
      param(name='includeAPI', value='true')
      param(name='templateLoadHandler', value='brightcovePlayerLoaded')
      param(name='templateReadyHandler', value='brightcovePlayerReady')
  .featuredVideoPlaylist
    h3.featuredVideoPlaylistHeader Video Category One
    ul
      li(data-video-id='1982178965001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_60.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video Title Short
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
      li(data-video-id='1897188942001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_67.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video With a Somewhat Longer Title
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
      li(data-video-id='1871056203001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_24.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video With a Much Longer Title That Spans to a Third Line
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
    h3.featuredVideoPlaylistHeader Video Category Two
    ul
      li(data-video-id='1871107119001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_33.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video Title Short
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
      li(data-video-id='1834784326001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_71.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video With a Somewhat Longer Title
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
      li(data-video-id='1832858263001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_3.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video With a Somewhat Longer Title
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
      li(data-video-id='1832858253001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_49.jpg')
          .mediaBlockContent
            h4.featuredVideoTitle Video With a Somewhat Longer Title
            p.featuredVideoSummary a three line video summary that goes on and on and on and on and on and on and on and on and on and on (~120 chars)
