.wayfinder.wayfinderVideo
  .wayfinderCornerstoneVideo
    //- Begin Brightcove player
    script(language='JavaScript', type='text/javascript', src='http://admin.brightcove.com/js/BrightcoveExperiences.js')

    object#myExperience.BrightcoveExperience
      param(name='bgcolor', value='#ffffff')
      param(name='wmode', value='opaque')
      param(name='width', value='456')
      param(name='height', value='260')
      param(name='playerID', value='2257680021001')
      param(name='playerKey', value='AQ~~,AAAAAFGE4wo~,g57wOIK2TXIwMm7P5FpCgpCLbizMjs0f')
      param(name='isVid', value='true')
      param(name='isUI', value='true')
      param(name='dynamicStreaming', value='true')

    script(type='text/javascript')
        brightcove.createExperiences();
    //- End Brightcove player

  .wayfinderContent
    h2 Reinvent your disaster backup plan and harness the power of the cloud.
    p Today’s organizations strive to unlock the potential of cloud computing to fuel business growth. By offering a wide range of services covering all domains and cloud delivery models, IBM cloud services can help you design and build the cloud solution that optimizes your return on investment in this revolutionary technology.
    p As our need to deliver software faster and meet market demands has increased, something usually has to be cut. Need to deliver software faster and meet market demands has increased.
